<h1>New attacher</h1>
   
   <tbody>   
      <% @attachers.each do |attacher| %>   
         <tr>   
            <td><%= attacher.name %></td>   
            <td><%= link_to "Download", attacher.attachment_url %></td> 
             <td><%= link_to 'Destroy', attacher.project, 'data-turbo-method': :delete %></td></td></td>   
         </tr>   
            
      <% end %>   
   </tbody>   

<br>

<div>
  <%= link_to "Back to attachers", project_attachers_path %>
</div>
