<p style="color: green"><%= notice %></p>

<div>
<%= link_to "delete", @attacher.project, method: :delete, class: "btn mt-4"  %>
<%# <td><%= link_to 'Destroy', [attacher.project, attacher], 'data-turbo-method': :delete %></td></td></td> %>
  <%# <%= link_to "Destroy this attacher", [attacher.project, attacher], method: :delete %> %>
</div>
