    <%= stylesheet_link_tag "menu" %>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>  
<div  id="circularMenu" class="circular-menu">

    <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
      <span class="fa fa-plus iconify iconify1" data-icon="ci:menu-alt-05" data-width="40"></span>
    </a>
  
    <menu class="items-wrapper">
      <%= link_to root_path, class: "menu-item" do %><span class="fa fa-plus iconify iconify2" data-icon="akar-icons:home" data-width="33"></span><% end %>
      <%= link_to :back , class: "menu-item" do %><span class="fa fa-plus iconify iconify2"  data-icon="akar-icons:arrow-back" data-width="33"></span><% end %>
      <a href="#" class="menu-item"><span class="fa fa-plus iconify iconify2" data-icon="akar-icons:home" data-width="33"></span></a>
      <a href="#" class="menu-item"><span class="fa fa-plus iconify iconify2" data-icon="akar-icons:home" data-width="33"></span></a>
    </menu>
  
  </div>