
<body>
    <div id="<%= dom_id project %>">
    <section>
      <div class="container">
        <div class="card">
          <div class="content">
           <div class="contentBx">
              <h3><%= project.name %><br></h3>
            </div> 
            <div class="imgBx">
              
            </div>
            
          </div>
 <!-- >  
        <ul class="sci">
            <li>
              <a href="">happy</a>
            </li>
            <li>
              <a href="">birth</a>
            </li>
            <li>
              <a href="">day</a>
            </li>
          </ul>
<-->
        </div>
    </section>
    </div>
  </body>



