@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");
body{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #505264;
  /* background-color: #fff; */
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
    background-repeat: repeat;
    background-size: 4%;
  overflow-x: hidden;
}
.anavbar {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
  }
  .anavbar2 {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
  }
  .anavbar3 {
    /* color: #1f2029; */
    text-decoration: none;
    margin-left: 5px;
  }
  .navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0px;
  list-style: none;
}

  
  .anavbar:hover {
    color: #fff;
  }
  .anavbar2:hover {
    color: #eee5c9;
  }
  .anavbar3:hover {
    color: #444552;
  }
/* .adrop{
  border-radius: 10px;
} */
.wrapper {
  padding: 3rem 1rem;
}
@media (min-width: 768px) {
  .wrapper {
    padding-top: 25vh;
  }
}

.drop {
  content: "";
  /* border: 10px solid transparent; */
  border-left-color: #ffffff;
  border-top-color: #ffffff;
  position: absolute;
  border-radius: 3px;
  /* top: -8px;
  right: 15px; */
  -webkit-box-shadow: -2px -2px 2px -2px rgb(0 0 0 / 20%);
  box-shadow: -2px -2px 2px -2px rgb(0 0 0 / 20%);
  /* -webkit-transform: rotate(45deg); */
  /* transform: rotate(45deg); */
  z-index: 1002;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-left: -14px;
  
}
.drop input[type=checkbox] {
  display: none;
  font-size: 13px;
}
.drop input[type=checkbox]:checked ~ .drop-items {
  opacity: 1;
  max-height: 400px;
  padding: 0.6rem 0;
  margin-left: 20px;
  /* margin-right: -71px; */
  /* height: 135px; */
  /* width: 135px;
  margin-left: -31px; */
  background-color: white;
  font-size: 13px;
}
.drop input[type=checkbox]:checked ~ .controldrop {
  z-index: 99;
}
.drop input[type=checkbox]:checked ~ .controldrop:after {
  transform: rotate(180deg);
}
.drop input[type=checkbox]:checked ~ .overlay-close {
  transform: none;
  pointer-events: initial;
}
.drop .controldrop {
  position: relative;
  color: #fff;
  cursor: pointer;
  padding: 0.5em 0.5em;
  background: #1f2029;
  border-radius: 4px;
  transition: all 0.3s ease;
  margin-right: 0;
  margin-left: 1.5em;
}
@media (hover: hover) {
  .drop .controldrop:hover {
    opacity: 0.75;
  }
}
.drop .controldrop:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  width: 0.5em;
  margin-left: 0.8em;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' color='black' width='16' height='13.838' viewBox='0 0 16 13.838'%3E%3Cpath d='M15.78,12.753a1.529,1.529,0,0,1-1.311,2.314H1.53A1.529,1.529,0,0,1,.219,12.753L6.69,1.969a1.528,1.528,0,0,1,2.619,0L15.78,12.753Z' transform='translate(16 15.067) rotate(180)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.3s ease;
}
.drop .drop-items {
  position: absolute;
  top: calc(100% + .4rem);
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
  /* background: #1f2029; */
  box-shadow:#101e4d;
  border-radius: 4px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  z-index: 99;
}
.drop .drop-items .item-drop {
  list-style: none;
}
.drop .drop-items .item-drop a {
  display: block;
  color: #1f2029;
  /* background-color: #979494; */
  border: 20px;
  text-decoration: none;
  padding: 0.6rem;
  transition: all 0.3s ease;
  margin-right: 0;
  border-radius: 4px; 
  text-align: left;
}
@media (hover: hover) {
  .drop .drop-items .item-drop a:hover {
    /* background: #fff; */
    color: #1f2029;
    font-weight:500;
  }
}
.drop .overlay-close {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  transform: translate(100%, 0);
  pointer-events: none;
}
 /* navbar button */
nav button {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.8;
  margin-left: auto;
  outline: none;
}


nav button:hover {
  opacity: 1;
}

nav button span {
  height: 2px;
  background-color: #fff;
  width: 20px;
  display: block;
  margin-top: 4px;
}

nav button span:last-child {
  width: 15px;
}

@media (min-width: 1024px) {
  nav button,
  .responsive-nav {
    display: none;
  }
}
.back-clor{
  background-color: #fff;
}

/* .btndrop{
  border-radius: 4px;
  height: 38px;
  width: 115px;
  margin-right: 1rem;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 5 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #101e4d;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
} */
.btndrop:active,
.btndrop:focus {
  background-color: #fff;
  color: #101e4d;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.btndrop:hover {
  background-color:#fff;
  color: #101e4d;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.btnProject{
  border-radius: 4px;
  height: 38px;
  width: 115px;
  margin-right: 1rem;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #101e4d;
  color:#fff; 
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}

.btnProject:active,
.btnProject:focus {
  background-color: #fff;
  color: #101e4d;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.btnProject:hover {
  background-color: #101e4d;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.container-fluid{
  background-color: #212529;
}
.navbar{
  background-color: #212529;
}
.bg-light2 {
  --bs-bg-opacity: 1;
  background-color: #212529;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.colorusername{
  color: #fff;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.colorusername:hover{
  color: #fff;
}
.div_edit_task{
  justify-content: center;
  text-align: center;
}
.div_edit_post{
  text-align: center;
}
.div_edit_account{
  text-align: center;
}